
{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!
{% endblock %}

{% block body %}
	<twig:Header is_logged_in="0" :searchdto="searchDto"></twig:Header>

	<main>
		
	</main>
{% endblock %}
