{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!
{% endblock %}

{% block body %}
	<twig:Header is_logged_in="0" :searchdto="searchDto"></twig:Header>

	<main class="">
		<h1 class="text-6xl text-center text-white">Recherche</h1>

		{# <twig:MainSearch :searchdto="searchDto"></twig:MainSearch> #}
	</main>
{% endblock %}
