{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!
{% endblock %}

{% block body %}
	<twig:Header is_logged_in="{{ app.user ? '1' : '0' }}" :searchDto="searchDto"></twig:Header>

	<main class="w-full max-w-[960px] my-5 mx-auto p-4">
		<h1>Rechercher un livre</h1>
		<twig:MainSearch :searchDto="searchDto"></twig:MainSearch>
		<twig:FilterProducts :searchDto="searchDto"></twig:FilterProducts>
	</main>
{% endblock %}
