{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!
{% endblock %}

{% block body %}
	{# <twig:Header content="header"></twig:Header> #}

    <twig:MainSearch></twig:MainSearch>

	<main class="bg-green-500">
		<h1 class="text-3xl font-bold underline">SearchController</h1>
	</main>
{% endblock %}
