{% extends 'base.html.twig' %}

{% block body %}
<twig:Header is_logged_in="{{ app.user ? '1' : '0' }}" :searchdto="searchDto"></twig:Header>
<div class="mt-4 container mx-auto px-4">
    <h2 class="text-2xl font-semibold mt-5 mb-3 flex justify-center ">Paiement</h2>
 <div class="flex items-center justify-center min-h-screen bg-gray-200 mt-6">
  <div class="w-50% max-w-md px-4">
    <div class="bg-white rounded-lg shadow-xl p-6 mx-auto">
      <!-- Header with icons -->
      <div class="flex justify-between items-center mb-4">
        <span class="text-xl font-medium text-gray-900">Credit card</span>
      </div>

      <!-- Payment Form -->
      <form action="{{ path('cart_index') }}" method="post">
        <div class="mb-4">
          <label for="cardholder-name" class="block text-sm font-medium text-gray-700">Cardholder Name</label>
          <input type="text" id="cardholder-name"  pattern="[A-Za-z\s]*" name="cardholder-name" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" required>
        </div>

        <div class="mb-4">
          <label for="card-number" class="block text-sm font-medium text-gray-700">Card Number</label>
          <input type="text" id="card-number" pattern="\d*" name="card-number" maxlength="16" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" required>
        </div>

        <div class="flex mb-4 -mx-2">
          <div class="w-1/2 px-2">
            <label for="expiry-date" class="block text-sm font-medium text-gray-700">Expiration Date</label>
            <input type="text" id="expiry-date" maxlength="7" name="expiry-date" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" required>
          </div>

          <div class="w-1/2 px-2">
            <label for="cvc" class="block text-sm font-medium text-gray-700">CVC</label>
            <input type="text" id="cvc" name="cvc" pattern="\d*" maxlength="3" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" required>
          </div>
        </div>

        <div class="mt-6">
          <a href="/" type="submit" class="w-full bg-green-600 py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
            Payer
          </a>
        </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}
