{% extends 'base.html.twig' %}
{% block body %}
				<header id="header" class="col-full">
					<div id="logo">
						<h1 class="site-title">Site web marchand</h1>
					</div>
				</header>
{% endblock %}
