<form action="" method="post" class="w-full mt-2" {{attributes}}>
	<input type="hidden" name="id" value="{{ id }}">
	<div class="flex gap-2 items-center">
		<label>Quantité</label>
		<input type="number" name="quantity" id="quantityInput" value="1" class="w-[68px] rounded-base px-3 py-1 border border-primary" min="1">
	</div>
	<p class="text-primary mt-2" id="totalPrice">Total: {{ unitPrice }}€</p>

	<button type="submit" class="bg-primary text-white rounded-base py-2 w-full mt-2">Ajouter au panier</button>
</form>


{% block javascripts %}
<script>
    const quantityInput = document.getElementById('quantityInput');
    const totalPrice = document.getElementById('totalPrice');
    const unitPrice = {{ unitPrice }};

    quantityInput.addEventListener('input', event => {
        const quantity = event.target.value;
        const total = quantity * unitPrice;
        totalPrice.textContent = `Total: ${total.toLocaleString('fr-FR', { style: 'currency', currency: 'EUR' })}`;
    });
</script>
{% endblock %}